<a href="https://colab.research.google.com/github/pilaribanez/Datavision/blob/main/Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Big Data

# pandas data frame

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
d_star_wars = pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/fpineyro/homework-0/master/starwars.csv", sep=',')
d_star_wars

In [ ]:
#Mostrar todas las columas del dataframa
d_star_wars.columns

### 1) ¿Cómo eliminar columnas?

In [ ]:
# Una columna
d_star_wars.drop(columns='name')

In [ ]:
# Eliminar N columnas
d_star_wars.drop(columns=['name', 'height'])

### 2) ¿Cómo eliminar duplicados?

In [ ]:
d_star_wars_2 = d_star_wars[['hair_color',	'skin_color']]

d_star_wars_2

In [ ]:
d_star_wars_3 = d_star_wars_2.drop_duplicates()

d_star_wars_3

In [ ]:
d_star_wars_3.shape

2.b) ¿Cómo obtener los registros duplicados?

In [ ]:
d_star_wars_2[d_star_wars_2.duplicated()]

In [ ]:
d_star_wars_2[d_star_wars_2.duplicated()].shape

### 3) ¿Cómo ordenar un data frame?

In [ ]:
d_star_wars.sort_values('height') # analizar los últimos valores...

In [ ]:
# Orden descendente
d_star_wars.sort_values('height', ascending=False)

In [ ]:
from google.colab.data_table import DataTable

# Ordenar por dos columnas
DataTable(d_star_wars.sort_values(['species', 'height']))

In [ ]:
# Emprolijar para chequear
d_sw_ordenado=d_star_wars.sort_values(['species', 'height'])

In [ ]:
# Comprobamos que están ordenados
d_sw_ordenado=d_sw_ordenado[['species', 'height']]

DataTable(d_sw_ordenado)

### 4) ¿Cómo crear una variable en un dataframe?

In [ ]:
d_star_wars['columna_nueva']=999

d_star_wars

In [ ]:
# Pasando a metros la altura
d_star_wars['height_mts']=d_star_wars['height']/100

d_star_wars.head()

### 5) ¿Cómo reordenar variables en un pandas data frame?

In [ ]:
# Tomo las 3 priemras columnas (name, height, mass)
d_star_wars_4=d_star_wars.iloc[:, 0:3]
d_star_wars_4.columns

In [ ]:
# reorden
d_star_wars_5=d_star_wars_4[['mass', 'height', 'name']]

In [ ]:
d_star_wars_5

### 6) ¿Cómo renombrar variables?

In [ ]:
d_star_wars_5.head()

In [ ]:
d_star_wars_5.rename(columns={'mass':'peso', 'height':'altura', 'name':'nombre'}).head()

In [ ]:
# Aplicar función a todas las columnas. Todo a minúscula o mayúscula

d_star_wars_5.rename(str.upper, axis="columns").head()

In [ ]:
d_star_wars_5.rename(str.lower, axis="columns").head()

Eliminar espacios de las columnas

In [ ]:
d_star_wars_6=d_star_wars_5.rename(columns={'mass':'peso del personaje', 'height':'altura del personaje'})
d_star_wars_6.head()

In [ ]:
d_star_wars_6.columns = d_star_wars_6.columns.str.replace(' ', '_')

d_star_wars_6.head()

### 7)  ¿Cómo filtrar datos con pandas query?

In [ ]:
d_star_wars.query(" height > 220 ")

In [ ]:
# AND
d_star_wars.query(" height > 220 and hair_color == 'brown' ")

In [ ]:
# OR, filtrar extremos
d_star_wars.query("height < 150 or height > 220 ")

### 8) Descripción estadística básica

In [ ]:
#Instalamos funpymodeling para obtener estadística de los datos

%%capture
!pip install funpymodeling

In [ ]:
#importamos la librería para poder utilizarla
from funpymodeling.exploratory import status, freq_tbl, profiling_num

In [ ]:
# Análisis univariado var numérica
profiling_num(d_star_wars)

In [ ]:
profiling_num(d_star_wars['height'])

In [ ]:
# Análisis univariado var categórica
freq_tbl(d_star_wars)

¿Cómo aplicar funciones de sumarización a cada columna?

In [ ]:
d_star_wars['height'].max()

In [ ]:
d_star_wars['height'].mean()

In [ ]:
print("El promedio de altura es %s y el  de la altura en mts es: %s" % (str(d_star_wars['height'].mean()), str(d_star_wars['height_mts'].mean())))

### 9) ¿Cómo exportar un pandas dataframe a csv?
(y directorio de trabajo)

In [ ]:
d_star_wars_2.head()

In [ ]:
#Creamos un archivo csv desde un dataframa
d_star_wars_2.to_csv('starwars_colab.csv',  sep=',', index=False)

In [ ]:
#Bajamos el archivo
files.download('starwars_colab.csv')

#Ejercicios

Ejercicio 1: Basado en el dataframe d_star_wars agregar una columna nueva llamada BMI y calcular el indice de masa corporal (BMI) de cada personaje (mostrar nombre y BMI) [BMI = weight (kg) / height² (m²)]

In [ ]:
#Antes de comenzar con los ejercicios volvemos a cargar los datos
d_star_wars = pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/fpineyro/homework-0/master/starwars.csv", sep=',')

#Convertimos la columna peso (mass) a valores decimales
d_star_wars['mass'] = pd.to_numeric(d_star_wars['mass'], errors='coerce')

d_star_wars

Ejercicio 1: Basado en el dataframe d_star_wars agregar una columna nueva llamada BMI y calcular el indice de masa corporal (BMI) de cada personaje (mostrar nombre y BMI) [BMI = weight (kg) / height² (m²)]

In [ ]:
#Ejercicio 1

Ejercicio 2: Mostrar nombre, altura y peso de todos los personajes ordenardos de mayor altura a menor altura

In [ ]:
#Ejercicio 2

Ejercicio 3: Del campo hair_color reemplazar los valores nulos por 0 (cero)

In [ ]:
#Ejercicio 3

Ejercicio 4: Listar los personajes femeninos de la raza humana.

In [ ]:
#Ejercicio 4

Ejercicio 5: listar todos los personajes que miden más de 2 metros.

In [ ]:
#Ejercicio 5

Ejercicio 6: calcular el peso promedio de los personajes por género. Redondear el peso a dos decimales.

In [ ]:
#Ejercicio 6

Ejercicio 7: Calcular la altura máxima por cada especie

In [ ]:
#Ejercicio 7

Ejercicio 8: Calcular la cantidad de personajes que contienen ojos de color rojo

In [ ]:
#Ejercicio 8

Ejercicio 9: Mostrar los personajes que son del planeta Kamino y tienen piel de color gris

In [ ]:
#Ejercicio 9

Ejercicio 10: Mostrar los personajes que midan menos de 1 metro y que sean hombres

In [ ]:
#Ejercicios 10