

#Big Data
# Introducci贸n a Python

## 1) Primer Paso

Este es un primer ejercicio de python

In [ ]:
a=1+1

In [ ]:
a

In [ ]:
print(a)

In [ ]:
b="Big Data"

In [ ]:
b

## Segundo paso!

Explorar un pandas data frame y sus tipos de datos

In [ ]:
# cargar librer铆a Pandas

In [ ]:
import pandas as pd

In [ ]:
# crear data frame (no le presten atenci贸n por ahora...)
d_star_wars = pd.DataFrame({'personaje': ['Luke Skywaker', 'C-3PO', 'Darth Vader'], 'altura':[172, 167, 202]})

In [ ]:
d_star_wars

In [ ]:
# Tipos de datos de pandas data frame
d_star_wars.dtypes

In [ ]:
# Tipo de estructura de dato: la lista
lista_personajes=['Luke Skywaker', 'C-3PO', 'Darth Vader']

In [ ]:
lista_personajes

In [ ]:
lista_altura=[172, 167, 202]

In [ ]:
lista_altura

In [ ]:
# Crear un pandas dataframe basado en 2 listas
dataframe_2l = pd.DataFrame({'personaje': lista_personajes,
                   'altura':lista_altura
                  })

In [ ]:
dataframe_2l

## Tercer paso!

Filtrar datos en pandas. La l贸gica de la notaci贸n vectorial.

In [ ]:
d_star_wars

In [ ]:
d_star_wars['personaje'] # devuelve un pandas series

In [ ]:
# d_star_wars.iloc[indice de fila, indice de columna]
d_star_wars.iloc[:, 0] # los dos puntos simboliza los slides

In [ ]:
# devuelve todo el registro 0
d_star_wars.iloc[0, :]

Esto los puede confundir...

In [ ]:
d_star_wars.loc[:, 'personaje'] # es equivalente a: d_star_wars.iloc[:, 0]

In [ ]:
#d_star_wars.iloc[:, 'personaje'] # error porque el 2do par谩metro no es un entero

In [ ]:
# 铆ndices para las columnas:
d_star_wars.columns

In [ ]:
# 铆ndices de los registros
list(d_star_wars.index)

In [ ]:
d_star_wars.loc[0, :] # es equivalente: d_star_wars.iloc[0, :] (porque el 铆ndice 0 es la posici贸n y el nombre)

In [ ]:
# acceder a 1 elemento
d_star_wars.loc[0, 'altura']

In [ ]:
d_star_wars.loc[1, 'altura']

## Cuarto paso

Un poco mas de acceso y filtos de datos con condiciones

![](https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing-768x549.png)

In [ ]:
d_star_wars

In [ ]:
d_star_wars.iloc[0:2, 0] #[indice de fila, indice de columna] 0:2 significa que queremos la fila desde la posici贸n 0 a la 2

In [ ]:
# en este caso, nos devuelve todo
d_star_wars.iloc[0:3, 0:2]

### Remplazar valores

In [ ]:
# otra manera de filtrar vectorialmente
d_star_wars['personaje']=='Darth Vader'

In [ ]:
# 驴C贸mo le cambiamos la altura a Darth Vader?
v_flag = d_star_wars['personaje']=='Darth Vader'

In [ ]:
# 驴Como remplazar un valor basado en una condici贸n?
d_star_wars.loc[v_flag, 'altura']

In [ ]:
d_star_wars.loc[v_flag, 'altura'] = 185

In [ ]:
# chequeo
d_star_wars

In [ ]:
# haciendo todo en la misma linea
d_star_wars.loc[ d_star_wars['personaje']=='Luke Skywaker', 'altura']=200

In [ ]:
d_star_wars

## 2) Dominando los datos

Carga de archivos, exploraci贸n de un data frame

In [ ]:
# URL donde se encuentra el archivo CSV
url = 'https://raw.githubusercontent.com/fpineyro/homework-0/master/starwars.csv'

# Lee el CSV
d_star_wars = pd.read_csv(url)

In [ ]:
# Muestra las primeras 5 filas para ver si efectivamente carg贸 bien lso datos
d_star_wars.head()

Cargamos los datos en una tabla

In [ ]:
# Exploraci贸n con DataTable colab
from google.colab.data_table import DataTable

DataTable(d_star_wars)

In [ ]:
# shape, nos muestra cuantas filas (87) y cuantas columnas tiene el dataframe (10)
d_star_wars.shape

In [ ]:
# head / tail
d_star_wars.head(3)

In [ ]:
# funpymodeling / instalar nuevas librer铆as
!pip install funpymodeling

#Importamos la librer铆a de funpymodeling para explorar los datos

In [ ]:
# status
from funpymodeling.exploratory import status

In [ ]:
#Mostramos estad铆sticas del dataframe
status(d_star_wars)

In [ ]:
d_star_wars=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/fpineyro/homework-0/master/starwars.csv", sep=',')
d_star_wars

## Nulos en pandas

In [ ]:
d_star_wars.head()

In [ ]:
# None ~ NaN

In [ ]:
status(d_star_wars)

In [ ]:
# obtener nulos de una columna
d_star_wars['hair_color'].isna()

# creamos un filtro para obtener los registros con valores nulos
d_star_wars[d_star_wars['hair_color'].isna()]

In [ ]:
# el origen de los NaN
import numpy as np

In [ ]:
a=pd.Series([1,2,3, np.NaN])

In [ ]:
b=pd.Series([1,2,3, None])

In [ ]:
a

In [ ]:
b

### Remplazo de nulos

Variable categ贸rica / object

In [ ]:
d_star_wars

In [ ]:
values={'homeworld': 'nulo_home', 'species': 'nulo_species'}

d_star_wars.fillna(value=values)

In [ ]:
# remplazo en el mismo data frame
d_star_wars.fillna(value=values, inplace=True)

In [ ]:
d_star_wars

## Imputaci贸n de nulos para variables num茅ricas

In [ ]:
# Obtenci贸n del promedio de la altura, y luego imputamos una columna
d_star_wars['height'].mean()

In [ ]:
d_star_wars['height']=d_star_wars['height'].fillna(d_star_wars['height'].mean())

d_star_wars

---

## Ejercicios!

Se asume que ya corrieron los ejercicios mostrados y exploraron un poco el ecosistema de google colab.

 **Es super importante** que los hagan para fijar lo que aprendieron. No se frusten si estan 20 minutos para crear una lista, es al principio!

<br>

1) Crear dos listas de 5 valores, uno n煤merico y otro con string, llamado lista1 y lista2, con los siguientes valores:

1,2,3,4,5

a,b,c,d,e

In [ ]:
#Ejercicio 1

2) Crear e imprimir en pantalla un pandas data frame llamado `d_test` basandose en las listas del punto 1). Nombres de las columnas: `columna_A` y `columna_B`

In [ ]:
#Ejercicio 2

3) Cargar los datos de heart disease con pandas en una variable llamada `d_hd`. Imprimir en pantalla.

URL: `https://raw.githubusercontent.com/fpineyro/homework-0/master/heart_disease.csv`

In [ ]:
#Ejercicio 3

In [ ]:
#Ejercicio 3.1) Imprimir la variable `age` y `has_heart_disease` al mismo tiempo.

In [ ]:
#Ejericio 3.2) Explorar los datos con DataTable de google colab, usar filtros y ordenar las columnas haciendo click en ellas

In [ ]:
#Ejercicio 3.3) Imprimir los primeros 3 registros con head, y los 煤ltomos 3 con tail

# head

In [ ]:
#tail

In [ ]:
#Ejercicio 3.4) Acceder con loc a la columna has_heart_disease, y mostrar todos los registros

In [ ]:
#Ejercicio 3.5) Idem 3.4) peor mostrando los primeros 3 registros. Usar slice, no head.

In [ ]:
#Ejercicio 3.6) Usar iloc para obtener las primeras 3 columnas, y 5 registros

4) Trabajando con nulos

In [ ]:
# 4.1) Instalar funpymodeling
!pip install funpymodeling

In [ ]:
# 4.2) Cargar funci贸n status
from funpymodeling.exploratory import status

In [ ]:
#Ejercicio 4.3) 驴Qu茅 variables tienen nulos?  (usar status)

In [ ]:
#Ejercicio 4.4) Devolver un data frame con todos los registros que tienen NaN en la variable "thal".

In [ ]:
#Ejercicio 4.5) Remplazar los nulos que aparecen en la variable "thal por 999. *No* guardarlo en el dataframe original. Usar fillna.

In [ ]:
#Ejercicio 4.6) Remplazar los nulos que aparecen en la variable "thal" por 999 (como antes),
# y tambi茅n remplazar los nulos de "num_vessels_flour" por el promedio de la variable.
# Guardar el resultado en un dataframe nuevo llamado "d_hd2".

In [ ]:
#Ejercicio 4.7) Chequear resultado con status

In [ ]:
#Ejercicio 4.8)
# Eliminar todas los registros con nulos usando `dropna` de pandas