#Big Data
Estructuras de control y funciones clásicas

### 1) Nuestro amigo el **IF**

In [1]:
nro_de_cliente=999

if nro_de_cliente==999:
  print('es el cliente 999!!')
else:
  print('cliente no encontrado :(')

es el cliente 999!!

In [2]:
nro_de_cliente=999

In [3]:
# if anidado
if nro_de_cliente==999:
  print('es el cliente 999!!')
elif nro_de_cliente==111:
  print('es el cliente 111!!')
else:
  print('cliente no encontrado :(')

es el cliente 999!!

Igual: x1 == x2

Distinto: x1 != x2

Menor a: x1 < x2

Menor o igual a: x1 <= x2

Mayor a: x1 > x2

Mayor o igual x1 >= x2

### 2) *Mientras* vemos el `while`

In [4]:
# imprimir 3 elementos
i=0

while(i<6):
  i=i+1
  print(i)

1
2
3
4
5
6

In [6]:
# bucle infinito
while(1):
  x1=input('¿Nombre? ')

  if x1=='me aburri':
    break

  print('Bienvenido! ' + x1)

¿Nombre? Hola
Bienvenido! Hola
¿Nombre? me aburri

### 3) *Para* que usar while, si hay `for`!

In [7]:
lista=[1,2,3,4,5,6]

In [8]:
for i in lista:

  if i == 5:
    break

  print(i)

1
2
3
4

¿Cómo usar for sobre pandas data frame?

In [9]:
import pandas as pd

d_star_wars=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/fpineyro/homework-0/master/starwars.csv", sep=',')
d_star_wars.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human

In [10]:
# no hacer así
for row in d_star_wars:
  print(row)

name
height
mass
hair_color
skin_color
eye_color
birth_year
gender
homeworld
species

In [11]:
# Usar iterrows()

for label, row in d_star_wars[:5].iterrows():
  print('El label es: ' + str(label))
  print(row)

El label es: 0
name          Luke Skywalker
height                 172.0
mass                      77
hair_color             blond
skin_color              fair
eye_color               blue
birth_year             19BBY
gender                  male
homeworld           Tatooine
species                Human
Name: 0, dtype: object
El label es: 1
name             C-3PO
height           167.0
mass                75
hair_color         NaN
skin_color        gold
eye_color       yellow
birth_year      112BBY
gender             NaN
homeworld     Tatooine
species          Droid
Name: 1, dtype: object
El label es: 2
name                R2-D2
height               96.0
mass                   32
hair_color            NaN
skin_color    white, blue
eye_color             red
birth_year          33BBY
gender                NaN
homeworld           Naboo
species             Droid
Name: 2, dtype: object
El label es: 3
name          Darth Vader
height              202.0
mass                  136
hair_color           none
skin_color          white
eye_color          yellow
birth_year        41.9BBY
gender               male
homeworld        Tatooine
species             Human
Name: 3, dtype: object
El label es: 4
name          Leia Organa
height              150.0
mass                   49
hair_color          brown
skin_color          light
eye_color           brown
birth_year          19BBY
gender             female
homeworld        Alderaan
species             Human
Name: 4, dtype: object

Accediendo a cada valor:

In [12]:
for _, row in d_star_wars[:10].iterrows():
  print('Personaje: ' + row['name'] + ' lugar ' + row['homeworld'])

Personaje: Luke Skywalker lugar Tatooine
Personaje: C-3PO lugar Tatooine
Personaje: R2-D2 lugar Naboo
Personaje: Darth Vader lugar Tatooine
Personaje: Leia Organa lugar Alderaan
Personaje: Owen Lars lugar Tatooine
Personaje: Beru Whitesun lars lugar Tatooine
Personaje: R5-D4 lugar Tatooine
Personaje: Biggs Darklighter lugar Tatooine
Personaje: Obi-Wan Kenobi lugar Stewjon

### 4) ¿Cómo crear funciones en Python?

In [13]:
def mi_funcion():
  print('hola mundo')

In [14]:
mi_funcion()

hola mundo

¿Cómo crear una función con parámetros?

In [15]:
def sumar(valor1, valor2):
  return valor1 + valor2

In [16]:
def restar(valor1, valor2):
  return valor1 - valor2

In [17]:
sumar(valor1 = 5, valor2= 5)

10

In [18]:
valor1 = 5
valor2 = 5

In [19]:
restar(valor1, valor2)

0

¿Cómo explorar el contenido de una función?

In [20]:
%%capture
!pip install funpymodeling

In [22]:
from funpymodeling.exploratory import status

In [23]:
status(d_star_wars)

     variable  q_nan     p_nan  q_zeros  p_zeros  unique     type
0        name      0  0.000000        0      0.0      87   object
1      height      6  0.068966        0      0.0      45  float64
2        mass     28  0.321839        0      0.0      38   object
3  hair_color      6  0.068966        0      0.0      11   object
4  skin_color      2  0.022989        0      0.0      30   object
5   eye_color      3  0.034483        0      0.0      14   object
6  birth_year     44  0.505747        0      0.0      36   object
7      gender      3  0.034483        0      0.0       4   object
8   homeworld     10  0.114943        0      0.0      48   object
9     species      5  0.057471        0      0.0      37   object

In [24]:
#calcula la cantidad de valores únicos presentes en cada columna del DataFrame.
d_star_wars.nunique().values

array([87, 45, 38, 11, 30, 14, 36,  4, 48, 37])

In [25]:
d_star_wars.columns

Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'gender', 'homeworld', 'species'],
      dtype='object')

In [26]:
def status2(data):
  return pd.DataFrame({'variables': data.columns, 'valores_unicos':data.nunique().values})

In [27]:
status2(d_star_wars)

    variables  valores_unicos
0        name              87
1      height              45
2        mass              38
3  hair_color              11
4  skin_color              30
5   eye_color              14
6  birth_year              36
7      gender               4
8   homeworld              48
9     species              37

<br>

---



# C.2.1) ¿Qué es `numpy`?

In [28]:
import numpy as np

In [29]:
arr1 = np.array([1,2,3,4,5])

In [30]:
arr1

array([1, 2, 3, 4, 5])

In [31]:
arr1+arr1

array([ 2,  4,  6,  8, 10])

In [32]:
arr1.shape # ranking 1

(5,)

¿Cómo crear un "tabla" en numpy?

Rank 2 array / 2D

In [33]:
arr2=np.array([[1,2,3,4,5], [9,8,7,6,5]])

arr2

array([[1, 2, 3, 4, 5],
       [9, 8, 7, 6, 5]])

In [34]:
arr2.shape

(2, 5)

Rank 3 array / 3D

In [35]:
arr3=np.array([[[1,2,3,4,5], [9,8,7,6,5]]])

In [36]:
arr3.shape

(1, 2, 5)

### C.2.2) ¿Cómo hacer `reshape` en numpy?

In [37]:
arr3=np.array([1,2,3,4,5,6])
print(arr3)
print(arr3.shape)

[1 2 3 4 5 6]
(6,)

In [38]:
arr4=arr3.reshape((2,3))

arr4

array([[1, 2, 3],
       [4, 5, 6]])

In [39]:
arr4.shape

(2, 3)

¿Cómo hacer flatten de un numpy array?

In [40]:
arr5=arr4.flatten()
arr5

array([1, 2, 3, 4, 5, 6])

### C.2.3) ¿Cómo hacer slice de numpy?

In [41]:
arr1

array([1, 2, 3, 4, 5])

In [42]:
# 1er elemento
arr1[0]

np.int64(1)

In [43]:
arr1[0:3]

array([1, 2, 3])

### C.2.4) ¿Cómo acceder a arrays n-dimensionales?

In [44]:
arr4

array([[1, 2, 3],
       [4, 5, 6]])

In [45]:
arr4[0,:]

array([1, 2, 3])

In [46]:
arr4[1,0]

np.int64(4)

In [47]:
arr4[1,0:2]

array([4, 5])

In [48]:
# acceder a toda la 1er dimensión
arr4[0]

array([1, 2, 3])

Imagen resumen numpy

<img src="https://fgnt.github.io/python_crashkurs_doc/_images/numpy_array_t.png" width="300px">

[Fuente](https://fgnt.github.io/python_crashkurs_doc/include/numpy.html).

#Ejercicios

Ejercicio 1: Crear un if anidado para verificar si el numero de cliente está entre 0 y 4, le decimos 'usuario autorizado' en cualquier otro caso indicar 'usuario no autorizado'.

In [51]:
#Ejercicio 1

if nro_de_cliente > 0 < 4:
  print('usuario autorizado')

usuario autorizado

Ejercicio 2: Mediante while solicitar al usuario que ingrese un número entre 1 y 5. Si el número ingresado es 3 que imprima 'Usted ha ganado la loteria'

In [69]:
#Ejercicio 2
while(1):
  x1=input('Ingrese un número ')
  if int(x1) == 3:
    print ('Usted ha ganado')
    break

Ingrese un número 3
Usted ha ganado

Ejercicio 3: Crear una lista que contenga los valores desde 0 a 10. Luego solicitar que se ingrese un número entre 0 y 10. Imprimir en pantalla los valores de la lista hasta el número que ingresaron

In [79]:
#Ejercicio 3

lista=(0,1,2,3,4,5,6,7,8,9,10)

while(1):
  x1=input('Ingrese un número ')
  x1 = int(x1)

  for i in lista:
   if i <= x1:
    print(i)
  i = i+1
  break

Ingrese un número 3
0
1
2
3

Ejercicio 4: Solicitar que se ingresen dos valores, mediante una función sumar estos dos numero y mostrar el resutaldo en pantalla

In [86]:
#Ejercicio 4
#Función

while(1):
  x1 = input(' Ingrese el primer número ')
  x2 = input ('Ingrese el segundo número ')

  x1 =int(x1)
  x2 = int(x2)

  suma= x1+x2
  break

 Ingrese el primer número 10
Ingrese el segundo número 400

In [87]:
#Ejercicio 4
print(suma)

410

Ejercicio 5: Solicitar que se ingresen dos valores, luego solicitar que tipo de operación se quiere realizar (suma, resta, multiplicación o división). Luego mediante una función realizar la operación matematica e imprimir el resultado.

In [126]:
#Ejercicio 5
#Función
resultado_global = 0

while(1):
  x1 = input('Ingrese primer valor ')
  x2 = input ('Ingrese segundo valor ')

  x1=int(x1)
  x2=int(x2)

  operacion = input('Ingrese la operación a realizar ')

  if operacion == '+':
    resultado = x1+x2
  elif operacion == '*':
    resultado = x1*x2
  elif operacion =='/':
    resultado =x1/x2
  elif operacion == '-':
    resultado = x1-x2

  global resultado_global
  resultado_global = resultado
  break

Ingrese primer valor 10
Ingrese segundo valor 10
Ingrese la operación a realizar *

In [127]:
#Ejercicio 5

print('El resultado es', resultado_global)

El resultado es 100